body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav img {
  height: 50px;
}
nav div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav div svg {
  margin: 7px 10px;
}
nav div button {
  max-height: 80%;
  max-width: 50%;
  border-radius: 10px;
  border: 2px solid rgb(70, 3, 255);
  background: none;
  cursor: pointer;
  padding: 5px;
  color: rgb(70, 3, 255);
  text-align: center;
  font-size: 100%;
}

.contenedor {
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.main .top_buttons_container {
  display: flex;
  margin: 10px auto;
}
.main .top_buttons_container div {
  margin-right: 40px;
}
.main .main_articles {
  max-width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.main .main_articles img {
  max-width: 100%;
}
.main .main_articles .postInfo .infoCreator {
  position: relative;
}
.main .main_articles .postInfo .infoCreator img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.main .main_articles .postInfo .infoCreator .profileImg {
  position: absolute;
  top: 25px;
  left: 25px;
}
.main .main_articles .postInfo .infoCreator .profileImg img {
  border-radius: 50%;
  height: 22px;
  width: 22px;
}
.main .main_articles .postInfo .infoCreator #name {
  position: absolute;
  top: 0;
  left: 60px;
}
.main .main_articles .postInfo .infoCreator #date {
  position: absolute;
  top: 15px;
  left: 60px;
}
.main .main_articles .postInfo .header {
  margin: 2px 20px;
  text-align: justify;
}
.main .main_articles .postInfo .header span {
  justify-content: space-between;
}
.main .main_articles .postInfo .reactions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container {
  position: relative;
  width: 20%;
  margin-right: 30px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container .reactionImage {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  background: #f5f5f5;
  top: -14px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container #image1 {
  left: 70px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container #image2 {
  left: 55px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container #image3 {
  left: 37px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container #image4 {
  left: 20px;
}
.main .main_articles .postInfo .reactions .multiple_reactions_icons_container #image5 {
  left: 0;
}
.main .main_articles .postInfo .reactions .comments {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.barraIzq {
  flex: 1;
  flex-grow: 1;
  margin-right: 10px;
}
.barraIzq .cajaNotas {
  display: contents;
  text-align: justify;
  margin: 4px auto;
}
.barraIzq .cajaNotas div {
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 90%;
}
.barraIzq .cajaNotas div p {
  font-size: 10px;
}
.barraIzq .cajaNotas div .buttonN {
  box-shadow: none;
}
.barraIzq .cajaNotas .nuevaC {
  background: none;
  border: 2px solid rgb(152, 108, 255);
  color: rgb(152, 108, 255);
  border-radius: 5px;
  width: 100%;
  height: 30px;
}
.barraIzq .cajaNotas .iniciar {
  background: none;
  border: 0cap;
  width: 200px;
  margin-bottom: 5px;
}
.barraIzq .options .listado1 {
  padding-top: 15px;
}
.barraIzq .options ul {
  list-style: none;
  padding: 0;
}
.barraIzq .options ul li {
  margin-bottom: 15px;
  padding: 0;
}
.barraIzq .options ul li a {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: black;
}
.barraIzq .options svg {
  max-width: 40px;
  max-height: 20px;
}
.barraIzq .other .listado2 {
  padding-top: 15px;
}
.barraIzq .other ul {
  list-style: none;
  padding: 0;
}
.barraIzq .other ul li {
  margin-bottom: 15px;
  padding: 0;
}
.barraIzq .other ul li a {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: black;
}
.barraIzq .other svg {
  max-width: 40px;
  max-height: 20px;
}
.barraIzq .listaRedes .redesSociales {
  margin-top: 15px;
}
.barraIzq .listaRedes .redesSociales a {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  margin-right: 6px;
}
.barraIzq .popularTags {
  display: flex;
  width: 100%;
  height: 40%;
  margin-top: 15px;
  display: inline;
}
.barraIzq .popularTags .tags {
  overflow: scroll;
  width: 100%;
  height: 30%;
}
.barraIzq .popularTags .tags a {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: black;
  display: block;
  margin-bottom: 25px;
  margin-left: 10px;
}

.barraDer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  margin-top: 36px;
}
.barraDer .rightMenu {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 15px;
  margin-bottom: 0%;
  height: 150px;
}
.barraDer .rightMenu .parrafoUno {
  font-size: 10px;
}
.barraDer .rightMenu p {
  font-size: 15px;
}
.barraDer .guides .trendingGuides {
  text-align: center;
}
.barraDer .guides .trendingGuides .guides p {
  margin: 50px 40px;
}
.barraDer .queries .recent h3 {
  margin-left: 45px;
}
.barraDer .queries .recent .queried p {
  margin: 50px 40px;
}

@media screen and (max-width: 1024px) {
  .barraDer {
    display: none;
  }
  .barraDer .rightMenu {
    display: none;
  }
  .barraDer .guides {
    display: none;
  }
  .barraDer .queries {
    display: none;
  }
  .barraIzq .cajaNotas {
    display: none;
  }
  .barraIzq .options {
    display: none;
  }
  .barraIzq .other {
    display: none;
  }
  .barraIzq .listaRedes {
    display: none;
  }
  .barraIzq .popularTags {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    max-width: 800px;
  }
  .barraIzq {
    max-width: 200px;
    margin: 15px 18px;
  }
  .barraIzq .cajaNotas {
    display: contents;
  }
  .barraIzq .options {
    display: contents;
  }
  .barraIzq .other {
    display: contents;
  }
  .barraIzq .listaRedes {
    display: contents;
  }
  .barraIzq .popularTags {
    display: contents;
  }
}/*# sourceMappingURL=main.css.map */