.barraIzq {
    // Solo esta el bg color para ejemplificar los contenedores *REMOVER*
    background-color: red;
    .cajaNotas{
        display: none;
        text-align: justify;
        .nuevaC{
            background: none;
            max-width: 100%;
        }
    }

}
