
.barraDer {
    // Solo esta el bg color para ejemplificar los contenedores *REMOVER*
   
    .flexContainer{
        
        display: none;
        text-align: justify;
        
        }
    
}


.parteUno {
    @include estructuraFormaUno();
}
.parteDos {
    @include estructuraDeFormas();
}

.tresComentarios {
    color: grey;
}
.parteTres{
    @include estructuraDeFormas();
}
.dosComentarios {
    color: grey;
}
.parteCuatro{
    @include estructuraDeFormas();
}

    



section{
    .botonNew{
        @include estructuraBotonUno();
    }
}
section{
    .botonNew{
        &:hover{
            @include hoverBotonNew();
        }
    }
}

.weCoded{
    @include estiloDeLetraWeCoded();
}
.parrafoUno{
    @include estiloDeLetraParrafos();
}
.parrafoDos{
    @include estiloDeLetraParrafos();
    
}
.parrafoTres{
    @include estiloDeLetraParrafos();
}
.parrafoCuatro{
    @include estiloDeLetraParrafos();
}
