.barraIzq {
    // Solo esta el bg color para ejemplificar los contenedores *REMOVER*
    background-color: red;
    .cajaNotas{
        background-color: plum;
        display: none;
        text-align: justify;
        .nuevaC{
            background: none;
            max-height: 50px;
            max-width: 80%;
        }
    }

}
