@mixin estructuraFormaUno(){
    height: 240PX;
    width: 210px;
    background-color: rgb(247, 242, 242);
    border: 0.01px solid  rgb(227, 212, 212);
    border-radius: 4px;
}
@mixin estructuraDeFormas(){
    height: 80px;
    width: 210px;
    background-color: rgb(247, 242, 242);
    border: 0.01px solid rgb(227, 212, 212);
    position: relative;
    border-radius: 4px;
    

}@mixin estructuraBotonUno(){
    background-color: rgb(248, 188, 7);
    color: rgb(130, 86, 5);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
}
@mixin hoverBotonNew(){
    background-color: white;
    color: rgb(248, 188, 7);
    border: 1px solid rgb(130, 86, 5);
    border-radius: 4px;
    transform: scale(1.2);
}
@mixin estiloDeLetraWeCoded(){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@mixin estiloDeLetraParrafos(){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14.5px;
}

