nav {
    display: flex;
    justify-content: space-around;
    img {
        
    }
    div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        svg {
            margin: 5px 10px;

        }
        button {
            max-height: 50%;
            max-width: 50%;
        }
    }
}