
@media screen and (min-width: 1024px) {
    .barraIzq {
        flex: 1;
        flex-grow: 2;
        .cajaNotas{
            display: contents;
            max-width: 80%;

        }
    }
    .barraDer {
        flex: 1;
        flex-grow: 2;
    }
}
